<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="../css/style.css"/>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="../js/adminPage.js"></script>

</head>

<body>

	<div id="wrapper_admin">
		<h1>Admin</h1>
	
		<table id="keywords">
			<thead>
				<tr>
					<th><span>Id</span></th>
					<th><span>Username</span></th>
					<th><span>Email</span></th>
					<th><span>Donuts</span></th>
					<th><span>Status</span></th>
				</tr>
			</thead>

			<tbody id="artistlist">
			</tbody>
		</table>
	</div>
</body>
</html>