<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="../css/style.css"/>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="../js/artistAdmin.js"></script>

</head>

<body>

	<div id="wrapper_admin">
		<h1 id="header">Albums</h1>
			
		<table id="keywords">
			<thead>
				<tr>
					<th><span>Title</span></th>
					<th><span>Genre</span></th>
					<th><span>Tags</span></th>
					<th><span>Status</span></th>
					<th><span>Cover</span></th>
					<th><span>Tracks</span></th>
				</tr>
			</thead>

			<tbody id="albumlist">
			</tbody>
		</table>
	</div>
</body>
</html>