<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Donut</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>


<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css'></link>
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="css/bootstrap-responsive.css"></link>
<link rel="stylesheet" href="css/custom-styles.css"></link>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/buyDonuts.js"></script>

</head>


<body class="home">

	<div class="container">

		<div class="row header">
			<!-- Begin Header -->

			<!-- Logo
        ================================================== -->
			<div class="span5 logo">
				<a href="index.html"><img src="img/icon_vin_m.png" alt=""></img></a>
				<h5 id="logo_text">DONUT</h5>
			</div>
			<div class="span4" id="search_div">
					<div class="input-prepend">
						<button id="search_btn" class="btn">Search</button>
						<input type="text"  id="search" name="search"/>
					</div>
			</div>
			<!-- Main Navigation -->
			<div class="span7 navigation">
				<div class="navbar hidden-phone">
					<ul class="nav">
						<li><a href="index">About <b class="caret"></b></a></li>
						<li class="dropdown"><a class="dropdown-toggle" href="">Explore
								<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/albums}">Albums</a></li>
								<li><a href="">Artists</a></li>
								<li><a href="">Labels</a></li>
								<li><a href="">Events</a></li>
								<li><a href="">Stores</a></li>
							</ul></li>
						<li><a href="">Contact <b class="caret"></b></a></li>

						<li class="dropdown" sec:authorize="isAuthenticated()"><a class="dropdown-toggle" th:href="@{/user}">
						     <span sec:authentication="principal.name"></span><b class="caret"></b></a>
						     	<ul class="dropdown-menu">
						     		<li><a th:href="@{user(id=${#authentication.principal.id})}">Feed</a></li>
									<li><a th:href="@{bag(user=${#authentication.principal.id})}">Bag</a></li>
									<li><a th:href="@{wishlist(user=${#authentication.principal.id})}">Wishlist</a></li>
									<li><a th:href="@{buyDonuts(id=${#authentication.principal.id})}">Buy donuts</a></li>
									<li><a th:href="@{likes(id=${#authentication.principal.id})}">Likes</a></li>
									<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out<b class="caret"></b></a></li>
						     	</ul>
						</li>
						<li sec:authorize="isAnonymous()"><a
							th:href="@{registration}">Sign in</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Log in</a></li>
					</ul>

				</div>

				<!-- Mobile Nav
            ================================================== -->
				<form action="#" id="mobile-nav" class="visible-phone">
					<div class="mobile-nav-select">
						<select
							onchange="window.open(this.options[this.selectedIndex].value,'_top')">
							<option value="">Navigate...</option>
							<option value="index.html">Home</option>
							<option value="albms.html">Albums</option>
							<option value="">Labels</option>
							<option value="">Events</option>
							<option value="">Stores</option>
							<option value="">Contact</option>
							<option value="">Sign up</option>
							<option value="login.html">Log in</option>
						</select>
					</div>
				</form>

			</div>

		</div>
		<!-- End Header -->
			<h1>Buy donuts</h1>
				
				<input id="donut_in" name="donut_in" type="number" min="1" value="1"/>
				<button id="buy_donuts" th:onclick="${'javascript:buyDonuts()'}" class="btn btn-inverse" type="button">Buy</button>
  					
	</div>
	<!-- End Container -->

	<!-- Scroll to Top -->
	<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
</body>
</html>
